{% extends "index.html" %}
{% load static %}
<title>{% block title %} Specer Football {% endblock title %}</title>
{% block body %}	
<body>
	<div> Añadir Jugador</div>
    <form class="form-group" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">
            {{ form.as_p }}
            <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar" href="../">
                <input type="submit" class="btn btn-success" value="Añadir">
            </div>
        </div>
    </form>
</body>
{% endblock body %}