{% extends "index.html" %}
{% load static %}
{% block title %}{% endblock title %}
{% block body %}

<div class="container-table100">
        <div class="wrap-table100">
          <div class="table100 ver1 m-b-110">
            <div class="table100-head">
              <table>
                <thead>
                  <tr class="row100 head">
                    <th class="cell100 column3">Escudo</th>
                    <th class="cell100 column4">Equipo</th>
                    <th class="cell100 column2">Puntos</th>
                    <th class="cell100 column5">J</th>
                    <th class="cell100 column6">G</th>
                    <th class="cell100 column7">E</th>
                    <th class="cell100 column8">P</th>
                    <th class="cell100 column9">GF</th>
                    <th class="cell100 column10">GC</th>
                  </tr>
                </thead>
              </table>
            </div>
            
            <div class="table100-body js-pscroll">
              <table>
                <tbody>
                {% for i in equipos %}
                  <tr class="row100 body">
                    <td class="cell100 column2"><img src="{{i.foto.url}}"/></td>
                    <td class="cell100 column3">{{i.nombre}}</td>
                    <td class="cell100 column4">Aaron Chapman</td>
                    <td class="cell100 column5">{{i.puntos}}</td>
                    <td class="cell100 column6">3</td>
                    <td class="cell100 column7">10</td>
                    <td class="cell100 column8">10</td>
                    <td class="cell100 column9">10</td>
                    <td class="cell100 column10">10</td>
                  </tr>
                {% endfor %}  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
{% endblock body %}