{% extends "resultados.html" %}

{% block papaya %}
    {% for x in object_detail %}
        {% for y in x.id_partido.all %}
        <table>
            <tbody>
                <tr>
                    <td class="left-team">
                        <img src="{{y.equipo_local.foto.url}}" alt="">
                        <h4>{{y.equipo_local}}</h4>
                    </td>
                    <td class="st-option">
                        <div class="so-text">{{y.id_liga.nombre}}</div>
                        <h4>{{x.resultado}}</h4>
                        <div class="so-text">{{y.fecha}}</div>
                    </td>
                    <td class="right-team">
                        <img src="{{y.equipo_visitante.foto.url}}" alt=""> 
                        <h4>{{y.equipo_visitante}}</h4>
                    </td>
                </tr>
            </tbody>
        </table>
        {%endfor%}
    {%endfor%}
    <ul class="pagination">
        {% if page_obj.has_previous %}
    <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link fuente"> <- </a></li>
        {% endif %}
    <div class="hint-text"> <span class="fuente">Mostrando <b class="fuente">{{ page_obj.number }}</b> de {{ page_obj.paginator.num_pages }} resultados</span></div>
        {% if page_obj.has_next %}
    <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link fuente">-></a></li>
        {% endif %}
    </ul>
{% endblock papaya %}